@model BeToff.Web.Models.RegistrationViewModel;
@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>


<table class="table table-secondary align-middle col-md-10">
    <thead class="table-dark">
        <th>
            Full Name
        </th>
        <th>
            Date Of Registration
        </th>
        <th>
            Family
        </th>
        <th>
            Actions
        </th>
    </thead>
    <tbody class="table-group-divider" id="Received">
        @foreach (var item in Model.Registrations)
        {
            <tr>
                <td>@item.UserRegistered</td>
                <td>@item.DateOfregistation</td>
                <td>@item.FamillyConcerned</td>
                @if (item.FamillyHeadId.ToString().Equals(ViewData["CurrentUser"]))
                {
                    <td>
                        @if (item.UserRegisteredId.ToString().Equals(ViewData["CurrentUser"]))
                        {
                            <a class="btn btn-outline-danger" href="#">Exit</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-action="DefineHead" asp-route-id="@item.FamillyConcernedId" asp-route-MemberId="@item.UserRegisteredId">Define Head</a>
                            <a class="btn btn-success" asp-action="RemoveMember" asp-route-id="@item.FamillyConcernedId" asp-route-MemberId="@item.UserRegisteredId">Remove</a>
                        }
                    </td>
                }
                else
                {
                    @if (item.UserRegisteredId.ToString().Equals(ViewData["CurrentUser"]))
                    {
                        <td><a class="btn btn-outline-danger" href="#">Exit</a></td>
                    }
                    else
                    {
                        <td> No Action Available</td>
                    }
                    
                }

            </tr>
        }
    </tbody>
</table>