@model BeToff.Web.Models.PhotoViewModel

<h1>DisplayPicture</h1>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Title</p>
        </dt>
        <dd class="col-sm-10">
            <p>@Model.Image?.Title</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Author</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.Image?.Author?.Email</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Date of Publication</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.Image?.DateCreation.ToString()</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Illustration</p>
        </dt>
        <dd class = "col-sm-10">
            @* <img src="@Url.Content("~/Media/" + Model.FileName)" class="img-thumbnail" alt="" /> *@
            @if (!string.IsNullOrEmpty(Model.FileName))
            {
                <img src="@Url.Content("~/Media/" + Model.FileName)"
                     class="img-thumbnail"
                     alt="@Model.Image?.Title" />
            }
            else
            {
                <p class="text-danger">Image non disponible</p>
            }
            @* @Html.DisplayFor(model => model.Image) *@
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>  *@
    <a asp-action="Index" class="btn btn-dark">All Picture</a>
</div>
